html, body {
  font-family: 'Red Hat Display', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.save-note {
  display: none;
}

#navbar {
    background: #F6F2E9!important;
}

.container {
    position: absolute;
    z-index: 5;
    text-align: center;
    padding: 0;
    max-width: none;
    width: 100%;
    height: 100%;
    background: #F6F2E9;
}

/* .jumbotron {
    background: white;
    border-radius: 0;
    height: 300px;
} */

#logo-img {
    padding-top: 5%;
}

#nav-logo-img {
    width: 300px;
}

/* NOTES */ 
/* .note-wrapper {
    position: relative;
    z-index: 10;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.note-img {
    position: absolute;
    height: 150px;
    width: 150px;
}

#note-darkgreen {
    top: 40%;
    left: 28%;
}

#note-yellow {
    top: 40%;
    left: 43%;
}

#note-blue-2 {
    top: 40%;
    left: 58%;
}

#note-orange {
    top: 57%;
    left: 28%;
}

#note-purple {
    top: 57%;
    left: 43%;
}

#note-pink {
    top: 57%;
    left: 58%;
}

#note-red {
    top: 40%;
    left: 73%;
}

#note-green {
    top: 57%;
    left: 73%;
    width: 160px;
    height: 160px;
}

#note-blue {
    top: 25%;
    left: 75%;
}

#note-orange-2 {
    top: 75%;
    left: 10%;
} */

.get-started {
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;    
    display: block;
    width: 200px;
    margin: 20px auto;
    border: solid 2px rgb(44, 163, 80);
    color: rgb(44, 163, 80);
    border-radius: 30px;
}

.get-started:hover {
    background: rgb(44, 163, 80);
    color: white;
    text-decoration: none;
}

.icons i {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
  color: black!important;
}

.note-textarea, .note-title {
  font-family: 'Red Hat Display', sans-serif;
  color: #000000;
  width: 100%;
  outline: none;
  border: none;
}

.note-textarea {
  resize: none;
  height: calc(100% - 63px);
  padding-top: 15px;
}

.note-title {
  height: 50px;
  margin-top: 30px;
  font-size: 3rem;
}

.note-title:read-only, .note-textarea:read-only {
  color: #757575;
}

.fa-trash-alt {
    color: black!important;
}

.list-container .card {
  height: calc(100vh - 70px);
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.list-container {
  padding-left: 0;
}

.list-container .list-group,
.list-container .list-group-item:first-child,
.list-container .card {
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-container i {
  font-size: 1.1rem;
  cursor: pointer;
}

.list-container .list-group-item {
  font-family: 'Red Hat Display', sans-serif;
  border-left: none;
  border-right: none;
  padding: 20px;
  cursor: pointer;
}

footer {
    background: #F6F2E9;
    height: 20px;
    position: absolute;
    bottom: 0;
    z-index: 15;
    text-align: center;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 10px;
}

#footer-link a {
    width: fit-content;
    color: grey;
    text-decoration: none;
}

@media (max-width: 450px) {
    #logo-img {
        width: 300px;
    }
}