html, body {
  font-family: 'Red Hat Display', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #F6F2E9;
}

.save-note {
  display: none;
}

.container {
    text-align: center;
    padding: 0;
    max-width: none;
    width: 100%;
}

/* .jumbotron {
    background: white;
    border-radius: 0;
    height: 300px;
} */

.note-img {
    position: fixed;
}

.get-started {
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;    
    display: block;
    width: 200px;
    margin: 0 auto;
    border: solid 2px rgb(44, 163, 80);
    color: rgb(44, 163, 80);
    border-radius: 30px;
}

.get-started:hover {
    background: rgb(44, 163, 80);
    color: white;
    text-decoration: none;
}

.icons i {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}

.note-textarea, .note-title {
  color: #000000;
  width: 100%;
  outline: none;
  border: none;
}

.note-textarea {
  resize: none;
  height: calc(100% - 63px);
  padding-top: 15px;
}

.note-title {
  height: 50px;
  margin-top: 13px;
  font-size: 3rem;
}

.note-title:read-only, .note-textarea:read-only {
  color: #757575;
}

.list-container .card {
  height: calc(100vh - 70px);
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.list-container {
  padding-left: 0;
}

.list-container .list-group,
.list-container .list-group-item:first-child,
.list-container .card {
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-container i {
  font-size: 1.1rem;
  cursor: pointer;
}

.list-container .list-group-item {
  border-left: none;
  border-right: none;
  padding: 20px;
  cursor: pointer;
}
